body {
  background-color: #fefefe;
}

.table {
  border: 2px solid black;
  width: 90vw;
}

.table tr {
  width: 100%;
}

.table th {
  width: 30%;
  outline: 1px solid black;
}

.table img {
  max-width: 30vw;
}
